* {
  margin: 0;
  padding: 0;
}

/* 最外层盒子 */

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

/* 每张图片的外框item */

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 1s ease-in-out;
}

/* 图片 */

.item img {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: 1s;
}

/* 上一个和下一个框 */

.item.prev,
.item.next {
  z-index: 1;
  height: 0;
}

/* 设置从下往上滑的图片和图片外框底部对齐 */

.item.next {
  bottom: 0;
}

/* 上一张图和下一张图 */

.item.prev img {
  transform: translateY(-10%);
}

.item.next img {
  bottom: 0;
  transform: translateY(10%);
}

/* 向上滚动 */

.scroll-up .item.prev {
  height: 100%;
}

.scroll-up .item.prev img {
  transform: translateY(0);
}

.scroll-up .item.cur img {
  transform: translateY(10%);
}

/* 向下滚动 */

.scroll-down .item.next {
  height: 100%;
}

.scroll-down .item.next img {
  transform: translateY(0);
}

.scroll-down .item.cur img {
  transform: translateY(-10%);
}
